name: Test
on:
  workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install build-essential
    
    - name: Run
      run: |
        # Run the program
        ./compiler/bas.sh ./bas/cgb ""
